{% extends 'emptybase.html.twig' %}
{% block title %}{% endblock %}


{% block header %}
    {% include 'home/inc/header.html.twig' %}
{% endblock %}

{% block body %}



  <form name="profile_edit" method="post" class="w-50 p-4 shadow mx-auto">
      <input type="hidden"   name="id"    value="{{ userInfo.id }}">

      <div class="form-group">
            <label for="profile_email" class="required">Email</label>
            <input type="text" id="profile_email" name="email" required="required" class="form-control"  value="{{ userInfo.email }}">
        </div>
        <div>
            <label for="Password_first" class="required">Password</label>
            <input type="password" id="Password_first" name="password" required="required" class="form-control">
        </div>
        <div>
            <label for="Password_second" class="required">Repeat Password</label>
            <input type="password" id="Password_second" required="required" class="form-control">
        </div>

        <div>
            <label for="profile_name" class="required">Name</label>
            <input type="text" id="profile_name" name="name" required="required" maxlength="20" class="form-control" value="{{ userInfo.name }}"/>
            </div>
                <div>
                <label for="profile_surname" class="required">Surname</label>
                <input type="text" id="profile_surname" name="surname" required="required" maxlength="20"
                       class="form-control" value="{{ userInfo.surname }}">
            </div>
            <div>
                <label for="profile_phone" class="required">Phone</label>
                <input type="text" id="profile_phone" name="phone" required="required" maxlength="20"
                       class="form-control" value="{{ userInfo.phone }}">
            </div>
            <div><label for="profile_address" class="required">Address</label>
                <input type="text" id="profile_address" name="address" required="required" maxlength="255"
                       class="form-control" value="{{ userInfo.address }}">
            </div>

            <div>
                <label for="profile_agreeTerms" class="required">Agree terms</label>
                <input type="checkbox" id="profile_agreeTerms" required="required" >
            </div>


            <button type="submit" class="btn btn-primary">Güncelle</button>
            <input type="hidden" name="csrf_token" value="{{ csrf_token('update_profile') }}"/>


    </form>


{% endblock %}

{% block footer %}
    {% include 'home/inc/footer.html.twig' %}
{% endblock %}