{% extends 'emptybase.html.twig' %}
{% block title %}{% endblock %}


{% block header %}
    {% include 'home/inc/header.html.twig' %}
{% endblock %}

{% block body %}

    <div class="container bootstrap snippets bootdey">
        <div class="panel-body inf-content">

            <div class="row">
                <div class="col-md-4">

                    <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip" src="https://bootdey.com/img/Content/avatar/avatar7.png" data-original-title="Usuario">
                    <ul title="Ratings" class="list-inline ratings text-center">
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    </ul>
                </div>
                <div class="col-md-6">

                    <strong>Kişsel Bilgiler</strong>
                    <a class=" button button-primary ml-auto"  href="{{ path('profile_edit') }}"  > <i class="fas fa-edit"></i>  Güncelle</a>

                    <div class="table-responsive">

                        <table class="table table-user-information">
                            <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        ID
                                    </strong>
                                </td>
                                <td class="text-primary">
                                {{ userInfo.id }}

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-user  text-primary"></span>
                                        Ad
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ userInfo.name }}

                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-cloud text-primary"></span>
                                        Soyad
                                    </strong>
                                </td>
                                <td class="text-primary">

                                    {{ userInfo.surname }}
                                </td>
                            </tr>




                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-envelope text-primary"></span>
                                        Email
                                    </strong>
                                </td>
                                <td class="text-primary">

                                    {{ userInfo.email }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Telefon
                                    </strong>
                                </td>
                                <td class="text-primary">

                                    {{ userInfo.phone }}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-calendar text-primary"></span>
                                        Adres
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{ userInfo.address }}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div> <div class="container">

</div>
{% endblock %}

{% block footer %}
    {% include 'home/inc/footer.html.twig' %}
{% endblock %}