
    <table class="table mt-2">
        <thead>
        <tr>
            <th>Id</th>
            <th>Url</th>
            <th>UrlHash</th>
            <th>Created_at</th>
            <th>Update_at</th>
            <th>Deleted_at</th>
            <th>Is_active</th>
            <th>User_id</th>
            <th>Click_count</th>
            <th>Is_public</th>
            <th>Expired_at</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for url in urls %}

                <tr>

                    <td>   {{ url.id }}</td>
                    <td>{{ url.url }}</td>
                    <td>{{ url.urlHash }}</td>
                    <td>{{ url.createdAt ? url.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ url.updateAt ? url.updateAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ url.deletedAt ? url.deletedAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ url.isActive ? 'Yes' : 'No' }}</td>
                    <td>{{ url.userId }}</td>
                    <td>{{ url.clickCount }}</td>
                    <td>{{ url.isPublic ? 'Yes' : 'No' }}</td>
                    <td>{{ url.expiredAt ? url.expiredAt|date('Y-m-d H:i:s') : '' }}</td>
                    <td>
                        <a href="{{ path('url_show', {'id': url.id}) }}">Göster      </a>
                        {{ include('admin/url/_delete_form.html.twig') }}
                        <a href="{{ path('url_edit', {'id': url.id}) }}">Güncelle</a>
                    </td>

                </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
